In [1]:
# BASE
# ------------------------------------------------------
import pandas as pd  
import numpy as np

In [2]:
model_train = pd.read_csv('model_train.csv')
model_test = pd.read_csv('model_test.csv')
sample_submission = pd.read_csv('sample_submission.csv')

In [3]:
dtype_dict = {'store_nbr': object, 'cluster': object, 'month': object, 'day_of_month': object, 'day_of_year': object, 'week_of_year': object, 'day_of_week': object, 'year': object, 'is_wknd': object, }
model_train = model_train.astype(dtype_dict)
model_test = model_test.astype(dtype_dict)

In [4]:
model_test.isna().sum()

store_nbr       0
family          0
onpromotion     0
city            0
state           0
shop_type       0
cluster         0
oil_price       0
transactions    0
holiday_type    0
population      0
month           0
day_of_month    0
day_of_year     0
week_of_year    0
day_of_week     0
year            0
is_wknd         0
dtype: int64

# Prepare for modeling

In [5]:
def preparing_data_to_model(data, random_state=None):   
    from sklearn.preprocessing import MinMaxScaler
    from sklearn.preprocessing import OneHotEncoder
    # Split data
    target_col = 'sales'
    X = data.drop(target_col, axis=1)
    y = data[target_col]
    
    # Numerical-Categorical Split
    model_train_num = X.select_dtypes(include = np.number)
    model_train_cat = X.select_dtypes(object)
    
    # Scaling numerical data
    transformer = MinMaxScaler().fit(model_train_num)
    model_train_scaled1 = pd.DataFrame(transformer.transform(model_train_num),columns=model_train_num.columns)

    # Encoding categorical data
    encoder = OneHotEncoder(drop='first').fit(model_train_cat)
    column_names = encoder.get_feature_names_out(model_train_cat.columns)
    model_train_encoded = encoder.transform(model_train_cat).toarray()
    encoded = pd.DataFrame(model_train_encoded, columns =column_names)

    # Concatenate data
    model_train_scaled = pd.concat([model_train_scaled1,encoded],axis=1)
    
    print(model_train_scaled.shape, y.shape, transformer, encoder)
    
    return model_train_scaled, y, transformer, encoder

In [6]:
#Fit a logistic regression model on the training data.
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error
model = DecisionTreeRegressor()

In [7]:
def store_regression(data, model):
    # Split the data by store_id
    store_data = {}
    for store_id in data['store_nbr'].unique():
        store_data[store_id] = data[data['store_nbr'] == store_id]
    
    # Perform linear regression for each store
    regression_results = {}
    for store_id, store_df in store_data.items():
        X = store_df.drop('sales', axis=1)
        y = store_df['sales']
        
        # Prepare the data for modeling
        X_scaled, y, transformer, encoder = preparing_data_to_model(pd.concat([X, y], axis=1))
        
        # Fit the model
        model.fit(X_scaled, y)
        
        # Calculate RMSE 
        model_pred = model.predict(X_scaled)
        model_rmse = np.sqrt(mean_squared_error(y, model_pred))
        
        # Store the regression results
        regression_results[store_id] = {'model':model,
            'score': model.score(X_scaled, y),
            'RMSE': model_rmse,
            'Predicted':np.round(model_pred[:10],decimals = 1),
            'Real': y[:10],
            'Transformer':transformer,
            'Encoder':encoder                          
        }
    
    return regression_results

In [8]:
results = store_regression(model_train, model)

(55572, 510) (55572,) MinMaxScaler() OneHotEncoder(drop='first')
(55572, 510) (55572,) MinMaxScaler() OneHotEncoder(drop='first')
(55572, 510) (55572,) MinMaxScaler() OneHotEncoder(drop='first')
(55572, 510) (55572,) MinMaxScaler() OneHotEncoder(drop='first')
(55572, 510) (55572,) MinMaxScaler() OneHotEncoder(drop='first')
(55572, 510) (55572,) MinMaxScaler() OneHotEncoder(drop='first')
(55572, 510) (55572,) MinMaxScaler() OneHotEncoder(drop='first')
(55572, 510) (55572,) MinMaxScaler() OneHotEncoder(drop='first')
(55572, 510) (55572,) MinMaxScaler() OneHotEncoder(drop='first')
(55572, 510) (55572,) MinMaxScaler() OneHotEncoder(drop='first')
(55572, 510) (55572,) MinMaxScaler() OneHotEncoder(drop='first')
(55572, 510) (55572,) MinMaxScaler() OneHotEncoder(drop='first')
(55572, 510) (55572,) MinMaxScaler() OneHotEncoder(drop='first')
(55572, 510) (55572,) MinMaxScaler() OneHotEncoder(drop='first')
(55572, 510) (55572,) MinMaxScaler() OneHotEncoder(drop='first')
(55572, 510) (55572,) MinMaxScaler() OneHotEncoder(drop='first')
(55572, 510) (55572,) MinMaxScaler() OneHotEncoder(drop='first')
(55572, 510) (55572,) MinMaxScaler() OneHotEncoder(drop='first')
(55572, 510) (55572,) MinMaxScaler() OneHotEncoder(drop='first')
(55572, 510) (55572,) MinMaxScaler() OneHotEncoder(drop='first')
(55572, 510) (55572,) MinMaxScaler() OneHotEncoder(drop='first')
(55572, 510) (55572,) MinMaxScaler() OneHotEncoder(drop='first')
(55572, 510) (55572,) MinMaxScaler() OneHotEncoder(drop='first')
(55572, 510) (55572,) MinMaxScaler() OneHotEncoder(drop='first')
(55572, 510) (55572,) MinMaxScaler() OneHotEncoder(drop='first')
(55572, 510) (55572,) MinMaxScaler() OneHotEncoder(drop='first')
(55572, 510) (55572,) MinMaxScaler() OneHotEncoder(drop='first')
(55572, 510) (55572,) MinMaxScaler() OneHotEncoder(drop='first')
(55572, 510) (55572,) MinMaxScaler() OneHotEncoder(drop='first')
(55572, 510) (55572,) MinMaxScaler() OneHotEncoder(drop='first')
(55572, 510) (55572,) MinMaxScaler() OneHotEncoder(drop='first')
(55572, 510) (55572,) MinMaxScaler() OneHotEncoder(drop='first')
(55572, 510) (55572,) MinMaxScaler() OneHotEncoder(drop='first')
(55572, 510) (55572,) MinMaxScaler() OneHotEncoder(drop='first')
(55572, 510) (55572,) MinMaxScaler() OneHotEncoder(drop='first')
(55572, 510) (55572,) MinMaxScaler() OneHotEncoder(drop='first')
(55572, 510) (55572,) MinMaxScaler() OneHotEncoder(drop='first')
(55572, 510) (55572,) MinMaxScaler() OneHotEncoder(drop='first')
(55572, 510) (55572,) MinMaxScaler() OneHotEncoder(drop='first')
(55572, 510) (55572,) MinMaxScaler() OneHotEncoder(drop='first')
(55572, 510) (55572,) MinMaxScaler() OneHotEncoder(drop='first')
(55572, 510) (55572,) MinMaxScaler() OneHotEncoder(drop='first')
(55572, 510) (55572,) MinMaxScaler() OneHotEncoder(drop='first')
(55572, 510) (55572,) MinMaxScaler() OneHotEncoder(drop='first')
(55572, 510) (55572,) MinMaxScaler() OneHotEncoder(drop='first')
(55572, 510) (55572,) MinMaxScaler() OneHotEncoder(drop='first')
(55572, 510) (55572,) MinMaxScaler() OneHotEncoder(drop='first')
(55572, 510) (55572,) MinMaxScaler() OneHotEncoder(drop='first')
(55572, 510) (55572,) MinMaxScaler() OneHotEncoder(drop='first')
(55572, 510) (55572,) MinMaxScaler() OneHotEncoder(drop='first')
(55572, 510) (55572,) MinMaxScaler() OneHotEncoder(drop='first')
(55572, 510) (55572,) MinMaxScaler() OneHotEncoder(drop='first')
(55572, 510) (55572,) MinMaxScaler() OneHotEncoder(drop='first')
(55572, 510) (55572,) MinMaxScaler() OneHotEncoder(drop='first')

In [9]:
results

{1: {'model': DecisionTreeRegressor(),
  'score': 1.0,
  'RMSE': 0.0,
  'Predicted': array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]),
  'Real': 0    0.0
  1    0.0
  2    0.0
  3    0.0
  4    0.0
  5    0.0
  6    0.0
  7    0.0
  8    0.0
  9    0.0
  Name: sales, dtype: float64,
  'Transformer': MinMaxScaler(),
  'Encoder': OneHotEncoder(drop='first')},
 10: {'model': DecisionTreeRegressor(),
  'score': 1.0,
  'RMSE': 0.0,
  'Predicted': array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]),
  'Real': 33    0.0
  34    0.0
  35    0.0
  36    0.0
  37    0.0
  38    0.0
  39    0.0
  40    0.0
  41    0.0
  42    0.0
  Name: sales, dtype: float64,
  'Transformer': MinMaxScaler(),
  'Encoder': OneHotEncoder(drop='first')},
 11: {'model': DecisionTreeRegressor(),
  'score': 1.0,
  'RMSE': 0.0,
  'Predicted': array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]),
  'Real': 66    0.0
  67    0.0
  68    0.0
  69    0.0
  70    0.0
  71    0.0
  72    0.0
  73    0.0
  74    0.0
  75    0.0
  Name: sales, dtype: float64,
  'Transformer': MinMaxScaler(),
  'Encoder': OneHotEncoder(drop='first')},
 12: {'model': DecisionTreeRegressor(),
  'score': 1.0,
  'RMSE': 0.0,
  'Predicted': array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]),
  'Real': 99     0.0
  100    0.0
  101    0.0
  102    0.0
  103    0.0
  104    0.0
  105    0.0
  106    0.0
  107    0.0
  108    0.0
  Name: sales, dtype: float64,
  'Transformer': MinMaxScaler(),
  'Encoder': OneHotEncoder(drop='first')},
 13: {'model': DecisionTreeRegressor(),
  'score': 1.0,
  'RMSE': 0.0,
  'Predicted': array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]),
  'Real': 132    0.0
  133    0.0
  134    0.0
  135    0.0
  136    0.0
  137    0.0
  138    0.0
  139    0.0
  140    0.0
  141    0.0
  Name: sales, dtype: float64,
  'Transformer': MinMaxScaler(),
  'Encoder': OneHotEncoder(drop='first')},
 14: {'model': DecisionTreeRegressor(),
  'score': 1.0,
  'RMSE': 0.0,
  'Predicted': array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]),
  'Real': 165    0.0
  166    0.0
  167    0.0
  168    0.0
  169    0.0
  170    0.0
  171    0.0
  172    0.0
  173    0.0
  174    0.0
  Name: sales, dtype: float64,
  'Transformer': MinMaxScaler(),
  'Encoder': OneHotEncoder(drop='first')},
 15: {'model': DecisionTreeRegressor(),
  'score': 1.0,
  'RMSE': 0.0,
  'Predicted': array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]),
  'Real': 198    0.0
  199    0.0
  200    0.0
  201    0.0
  202    0.0
  203    0.0
  204    0.0
  205    0.0
  206    0.0
  207    0.0
  Name: sales, dtype: float64,
  'Transformer': MinMaxScaler(),
  'Encoder': OneHotEncoder(drop='first')},
 16: {'model': DecisionTreeRegressor(),
  'score': 1.0,
  'RMSE': 0.0,
  'Predicted': array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]),
  'Real': 231    0.0
  232    0.0
  233    0.0
  234    0.0
  235    0.0
  236    0.0
  237    0.0
  238    0.0
  239    0.0
  240    0.0
  Name: sales, dtype: float64,
  'Transformer': MinMaxScaler(),
  'Encoder': OneHotEncoder(drop='first')},
 17: {'model': DecisionTreeRegressor(),
  'score': 1.0,
  'RMSE': 0.0,
  'Predicted': array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]),
  'Real': 264    0.0
  265    0.0
  266    0.0
  267    0.0
  268    0.0
  269    0.0
  270    0.0
  271    0.0
  272    0.0
  273    0.0
  Name: sales, dtype: float64,
  'Transformer': MinMaxScaler(),
  'Encoder': OneHotEncoder(drop='first')},
 18: {'model': DecisionTreeRegressor(),
  'score': 1.0,
  'RMSE': 0.0,
  'Predicted': array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]),
  'Real': 297    0.0
  298    0.0
  299    0.0
  300    0.0
  301    0.0
  302    0.0
  303    0.0
  304    0.0
  305    0.0
  306    0.0
  Name: sales, dtype: float64,
  'Transformer': MinMaxScaler(),
  'Encoder': OneHotEncoder(drop='first')},
 19: {'model': DecisionTreeRegressor(),
  'score': 1.0,
  'RMSE': 0.0,
  'Predicted': array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]),
  'Real': 330    0.0
  331    0.0
  332    0.0
  333    0.0
  334    0.0
  335    0.0
  336    0.0
  337    0.0
  338    0.0
  339    0.0
  Name: sales, dtype: float64,
  'Transformer': MinMaxScaler(),
  'Encoder': OneHotEncoder(drop='first')},
 2: {'model': DecisionTreeRegressor(),
  'score': 1.0,
  'RMSE': 0.0,
  'Predicted': array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]),
  'Real': 363    0.0
  364    0.0
  365    0.0
  366    0.0
  367    0.0
  368    0.0
  369    0.0
  370    0.0
  371    0.0
  372    0.0
  Name: sales, dtype: float64,
  'Transformer': MinMaxScaler(),
  'Encoder': OneHotEncoder(drop='first')},
 20: {'model': DecisionTreeRegressor(),
  'score': 1.0,
  'RMSE': 0.0,
  'Predicted': array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]),
  'Real': 396    0.0
  397    0.0
  398    0.0
  399    0.0
  400    0.0
  401    0.0
  402    0.0
  403    0.0
  404    0.0
  405    0.0
  Name: sales, dtype: float64,
  'Transformer': MinMaxScaler(),
  'Encoder': OneHotEncoder(drop='first')},
 21: {'model': DecisionTreeRegressor(),
  'score': 1.0,
  'RMSE': 0.0,
  'Predicted': array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]),
  'Real': 429    0.0
  430    0.0
  431    0.0
  432    0.0
  433    0.0
  434    0.0
  435    0.0
  436    0.0
  437    0.0
  438    0.0
  Name: sales, dtype: float64,
  'Transformer': MinMaxScaler(),
  'Encoder': OneHotEncoder(drop='first')},
 22: {'model': DecisionTreeRegressor(),
  'score': 1.0,
  'RMSE': 0.0,
  'Predicted': array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]),
  'Real': 462    0.0
  463    0.0
  464    0.0
  465    0.0
  466    0.0
  467    0.0
  468    0.0
  469    0.0
  470    0.0
  471    0.0
  Name: sales, dtype: float64,
  'Transformer': MinMaxScaler(),
  'Encoder': OneHotEncoder(drop='first')},
 23: {'model': DecisionTreeRegressor(),
  'score': 1.0,
  'RMSE': 0.0,
  'Predicted': array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]),
  'Real': 495    0.0
  496    0.0
  497    0.0
  498    0.0
  499    0.0
  500    0.0
  501    0.0
  502    0.0
  503    0.0
  504    0.0
  Name: sales, dtype: float64,
  'Transformer': MinMaxScaler(),
  'Encoder': OneHotEncoder(drop='first')},
 24: {'model': DecisionTreeRegressor(),
  'score': 1.0,
  'RMSE': 0.0,
  'Predicted': array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]),
  'Real': 528    0.0
  529    0.0
  530    0.0
  531    0.0
  532    0.0
  533    0.0
  534    0.0
  535    0.0
  536    0.0
  537    0.0
  Name: sales, dtype: float64,
  'Transformer': MinMaxScaler(),
  'Encoder': OneHotEncoder(drop='first')},
 25: {'model': DecisionTreeRegressor(),
  'score': 1.0,
  'RMSE': 0.0,
  'Predicted': array([  0. ,   0. ,   2. , 810. ,   0. , 180.6,   0. , 186. , 143. ,
          71.1]),
  'Real': 561      0.000
  562      0.000
  563      2.000
  564    810.000
  565      0.000
  566    180.589
  567      0.000
  568    186.000
  569    143.000
  570     71.090
  Name: sales, dtype: float64,
  'Transformer': MinMaxScaler(),
  'Encoder': OneHotEncoder(drop='first')},
 26: {'model': DecisionTreeRegressor(),
  'score': 1.0,
  'RMSE': 0.0,
  'Predicted': array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]),
  'Real': 594    0.0
  595    0.0
  596    0.0
  597    0.0
  598    0.0
  599    0.0
  600    0.0
  601    0.0
  602    0.0
  603    0.0
  Name: sales, dtype: float64,
  'Transformer': MinMaxScaler(),
  'Encoder': OneHotEncoder(drop='first')},
 27: {'model': DecisionTreeRegressor(),
  'score': 1.0,
  'RMSE': 0.0,
  'Predicted': array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]),
  'Real': 627    0.0
  628    0.0
  629    0.0
  630    0.0
  631    0.0
  632    0.0
  633    0.0
  634    0.0
  635    0.0
  636    0.0
  Name: sales, dtype: float64,
  'Transformer': MinMaxScaler(),
  'Encoder': OneHotEncoder(drop='first')},
 28: {'model': DecisionTreeRegressor(),
  'score': 1.0,
  'RMSE': 0.0,
  'Predicted': array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]),
  'Real': 660    0.0
  661    0.0
  662    0.0
  663    0.0
  664    0.0
  665    0.0
  666    0.0
  667    0.0
  668    0.0
  669    0.0
  Name: sales, dtype: float64,
  'Transformer': MinMaxScaler(),
  'Encoder': OneHotEncoder(drop='first')},
 29: {'model': DecisionTreeRegressor(),
  'score': 1.0,
  'RMSE': 0.0,
  'Predicted': array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]),
  'Real': 693    0.0
  694    0.0
  695    0.0
  696    0.0
  697    0.0
  698    0.0
  699    0.0
  700    0.0
  701    0.0
  702    0.0
  Name: sales, dtype: float64,
  'Transformer': MinMaxScaler(),
  'Encoder': OneHotEncoder(drop='first')},
 3: {'model': DecisionTreeRegressor(),
  'score': 1.0,
  'RMSE': 0.0,
  'Predicted': array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]),
  'Real': 726    0.0
  727    0.0
  728    0.0
  729    0.0
  730    0.0
  731    0.0
  732    0.0
  733    0.0
  734    0.0
  735    0.0
  Name: sales, dtype: float64,
  'Transformer': MinMaxScaler(),
  'Encoder': OneHotEncoder(drop='first')},
 30: {'model': DecisionTreeRegressor(),
  'score': 1.0,
  'RMSE': 0.0,
  'Predicted': array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]),
  'Real': 759    0.0
  760    0.0
  761    0.0
  762    0.0
  763    0.0
  764    0.0
  765    0.0
  766    0.0
  767    0.0
  768    0.0
  Name: sales, dtype: float64,
  'Transformer': MinMaxScaler(),
  'Encoder': OneHotEncoder(drop='first')},
 31: {'model': DecisionTreeRegressor(),
  'score': 1.0,
  'RMSE': 0.0,
  'Predicted': array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]),
  'Real': 792    0.0
  793    0.0
  794    0.0
  795    0.0
  796    0.0
  797    0.0
  798    0.0
  799    0.0
  800    0.0
  801    0.0
  Name: sales, dtype: float64,
  'Transformer': MinMaxScaler(),
  'Encoder': OneHotEncoder(drop='first')},
 32: {'model': DecisionTreeRegressor(),
  'score': 1.0,
  'RMSE': 0.0,
  'Predicted': array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]),
  'Real': 825    0.0
  826    0.0
  827    0.0
  828    0.0
  829    0.0
  830    0.0
  831    0.0
  832    0.0
  833    0.0
  834    0.0
  Name: sales, dtype: float64,
  'Transformer': MinMaxScaler(),
  'Encoder': OneHotEncoder(drop='first')},
 33: {'model': DecisionTreeRegressor(),
  'score': 1.0,
  'RMSE': 0.0,
  'Predicted': array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]),
  'Real': 858    0.0
  859    0.0
  860    0.0
  861    0.0
  862    0.0
  863    0.0
  864    0.0
  865    0.0
  866    0.0
  867    0.0
  Name: sales, dtype: float64,
  'Transformer': MinMaxScaler(),
  'Encoder': OneHotEncoder(drop='first')},
 34: {'model': DecisionTreeRegressor(),
  'score': 1.0,
  'RMSE': 0.0,
  'Predicted': array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]),
  'Real': 891    0.0
  892    0.0
  893    0.0
  894    0.0
  895    0.0
  896    0.0
  897    0.0
  898    0.0
  899    0.0
  900    0.0
  Name: sales, dtype: float64,
  'Transformer': MinMaxScaler(),
  'Encoder': OneHotEncoder(drop='first')},
 35: {'model': DecisionTreeRegressor(),
  'score': 1.0,
  'RMSE': 0.0,
  'Predicted': array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]),
  'Real': 924    0.0
  925    0.0
  926    0.0
  927    0.0
  928    0.0
  929    0.0
  930    0.0
  931    0.0
  932    0.0
  933    0.0
  Name: sales, dtype: float64,
  'Transformer': MinMaxScaler(),
  'Encoder': OneHotEncoder(drop='first')},
 36: {'model': DecisionTreeRegressor(),
  'score': 1.0,
  'RMSE': 0.0,
  'Predicted': array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]),
  'Real': 957    0.0
  958    0.0
  959    0.0
  960    0.0
  961    0.0
  962    0.0
  963    0.0
  964    0.0
  965    0.0
  966    0.0
  Name: sales, dtype: float64,
  'Transformer': MinMaxScaler(),
  'Encoder': OneHotEncoder(drop='first')},
 37: {'model': DecisionTreeRegressor(),
  'score': 1.0,
  'RMSE': 0.0,
  'Predicted': array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]),
  'Real': 990    0.0
  991    0.0
  992    0.0
  993    0.0
  994    0.0
  995    0.0
  996    0.0
  997    0.0
  998    0.0
  999    0.0
  Name: sales, dtype: float64,
  'Transformer': MinMaxScaler(),
  'Encoder': OneHotEncoder(drop='first')},
 38: {'model': DecisionTreeRegressor(),
  'score': 1.0,
  'RMSE': 0.0,
  'Predicted': array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]),
  'Real': 1023    0.0
  1024    0.0
  1025    0.0
  1026    0.0
  1027    0.0
  1028    0.0
  1029    0.0
  1030    0.0
  1031    0.0
  1032    0.0
  Name: sales, dtype: float64,
  'Transformer': MinMaxScaler(),
  'Encoder': OneHotEncoder(drop='first')},
 39: {'model': DecisionTreeRegressor(),
  'score': 1.0,
  'RMSE': 0.0,
  'Predicted': array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]),
  'Real': 1056    0.0
  1057    0.0
  1058    0.0
  1059    0.0
  1060    0.0
  1061    0.0
  1062    0.0
  1063    0.0
  1064    0.0
  1065    0.0
  Name: sales, dtype: float64,
  'Transformer': MinMaxScaler(),
  'Encoder': OneHotEncoder(drop='first')},
 4: {'model': DecisionTreeRegressor(),
  'score': 1.0,
  'RMSE': 0.0,
  'Predicted': array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]),
  'Real': 1089    0.0
  1090    0.0
  1091    0.0
  1092    0.0
  1093    0.0
  1094    0.0
  1095    0.0
  1096    0.0
  1097    0.0
  1098    0.0
  Name: sales, dtype: float64,
  'Transformer': MinMaxScaler(),
  'Encoder': OneHotEncoder(drop='first')},
 40: {'model': DecisionTreeRegressor(),
  'score': 1.0,
  'RMSE': 0.0,
  'Predicted': array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]),
  'Real': 1122    0.0
  1123    0.0
  1124    0.0
  1125    0.0
  1126    0.0
  1127    0.0
  1128    0.0
  1129    0.0
  1130    0.0
  1131    0.0
  Name: sales, dtype: float64,
  'Transformer': MinMaxScaler(),
  'Encoder': OneHotEncoder(drop='first')},
 41: {'model': DecisionTreeRegressor(),
  'score': 1.0,
  'RMSE': 0.0,
  'Predicted': array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]),
  'Real': 1155    0.0
  1156    0.0
  1157    0.0
  1158    0.0
  1159    0.0
  1160    0.0
  1161    0.0
  1162    0.0
  1163    0.0
  1164    0.0
  Name: sales, dtype: float64,
  'Transformer': MinMaxScaler(),
  'Encoder': OneHotEncoder(drop='first')},
 42: {'model': DecisionTreeRegressor(),
  'score': 1.0,
  'RMSE': 0.0,
  'Predicted': array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]),
  'Real': 1188    0.0
  1189    0.0
  1190    0.0
  1191    0.0
  1192    0.0
  1193    0.0
  1194    0.0
  1195    0.0
  1196    0.0
  1197    0.0
  Name: sales, dtype: float64,
  'Transformer': MinMaxScaler(),
  'Encoder': OneHotEncoder(drop='first')},
 43: {'model': DecisionTreeRegressor(),
  'score': 1.0,
  'RMSE': 0.0,
  'Predicted': array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]),
  'Real': 1221    0.0
  1222    0.0
  1223    0.0
  1224    0.0
  1225    0.0
  1226    0.0
  1227    0.0
  1228    0.0
  1229    0.0
  1230    0.0
  Name: sales, dtype: float64,
  'Transformer': MinMaxScaler(),
  'Encoder': OneHotEncoder(drop='first')},
 44: {'model': DecisionTreeRegressor(),
  'score': 1.0,
  'RMSE': 0.0,
  'Predicted': array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]),
  'Real': 1254    0.0
  1255    0.0
  1256    0.0
  1257    0.0
  1258    0.0
  1259    0.0
  1260    0.0
  1261    0.0
  1262    0.0
  1263    0.0
  Name: sales, dtype: float64,
  'Transformer': MinMaxScaler(),
  'Encoder': OneHotEncoder(drop='first')},
 45: {'model': DecisionTreeRegressor(),
  'score': 1.0,
  'RMSE': 0.0,
  'Predicted': array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]),
  'Real': 1287    0.0
  1288    0.0
  1289    0.0
  1290    0.0
  1291    0.0
  1292    0.0
  1293    0.0
  1294    0.0
  1295    0.0
  1296    0.0
  Name: sales, dtype: float64,
  'Transformer': MinMaxScaler(),
  'Encoder': OneHotEncoder(drop='first')},
 46: {'model': DecisionTreeRegressor(),
  'score': 1.0,
  'RMSE': 0.0,
  'Predicted': array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]),
  'Real': 1320    0.0
  1321    0.0
  1322    0.0
  1323    0.0
  1324    0.0
  1325    0.0
  1326    0.0
  1327    0.0
  1328    0.0
  1329    0.0
  Name: sales, dtype: float64,
  'Transformer': MinMaxScaler(),
  'Encoder': OneHotEncoder(drop='first')},
 47: {'model': DecisionTreeRegressor(),
  'score': 1.0,
  'RMSE': 0.0,
  'Predicted': array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]),
  'Real': 1353    0.0
  1354    0.0
  1355    0.0
  1356    0.0
  1357    0.0
  1358    0.0
  1359    0.0
  1360    0.0
  1361    0.0
  1362    0.0
  Name: sales, dtype: float64,
  'Transformer': MinMaxScaler(),
  'Encoder': OneHotEncoder(drop='first')},
 48: {'model': DecisionTreeRegressor(),
  'score': 1.0,
  'RMSE': 0.0,
  'Predicted': array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]),
  'Real': 1386    0.0
  1387    0.0
  1388    0.0
  1389    0.0
  1390    0.0
  1391    0.0
  1392    0.0
  1393    0.0
  1394    0.0
  1395    0.0
  Name: sales, dtype: float64,
  'Transformer': MinMaxScaler(),
  'Encoder': OneHotEncoder(drop='first')},
 49: {'model': DecisionTreeRegressor(),
  'score': 1.0,
  'RMSE': 0.0,
  'Predicted': array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]),
  'Real': 1419    0.0
  1420    0.0
  1421    0.0
  1422    0.0
  1423    0.0
  1424    0.0
  1425    0.0
  1426    0.0
  1427    0.0
  1428    0.0
  Name: sales, dtype: float64,
  'Transformer': MinMaxScaler(),
  'Encoder': OneHotEncoder(drop='first')},
 5: {'model': DecisionTreeRegressor(),
  'score': 1.0,
  'RMSE': 0.0,
  'Predicted': array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]),
  'Real': 1452    0.0
  1453    0.0
  1454    0.0
  1455    0.0
  1456    0.0
  1457    0.0
  1458    0.0
  1459    0.0
  1460    0.0
  1461    0.0
  Name: sales, dtype: float64,
  'Transformer': MinMaxScaler(),
  'Encoder': OneHotEncoder(drop='first')},
 50: {'model': DecisionTreeRegressor(),
  'score': 1.0,
  'RMSE': 0.0,
  'Predicted': array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]),
  'Real': 1485    0.0
  1486    0.0
  1487    0.0
  1488    0.0
  1489    0.0
  1490    0.0
  1491    0.0
  1492    0.0
  1493    0.0
  1494    0.0
  Name: sales, dtype: float64,
  'Transformer': MinMaxScaler(),
  'Encoder': OneHotEncoder(drop='first')},
 51: {'model': DecisionTreeRegressor(),
  'score': 1.0,
  'RMSE': 0.0,
  'Predicted': array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]),
  'Real': 1518    0.0
  1519    0.0
  1520    0.0
  1521    0.0
  1522    0.0
  1523    0.0
  1524    0.0
  1525    0.0
  1526    0.0
  1527    0.0
  Name: sales, dtype: float64,
  'Transformer': MinMaxScaler(),
  'Encoder': OneHotEncoder(drop='first')},
 52: {'model': DecisionTreeRegressor(),
  'score': 1.0,
  'RMSE': 0.0,
  'Predicted': array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]),
  'Real': 1551    0.0
  1552    0.0
  1553    0.0
  1554    0.0
  1555    0.0
  1556    0.0
  1557    0.0
  1558    0.0
  1559    0.0
  1560    0.0
  Name: sales, dtype: float64,
  'Transformer': MinMaxScaler(),
  'Encoder': OneHotEncoder(drop='first')},
 53: {'model': DecisionTreeRegressor(),
  'score': 1.0,
  'RMSE': 0.0,
  'Predicted': array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]),
  'Real': 1584    0.0
  1585    0.0
  1586    0.0
  1587    0.0
  1588    0.0
  1589    0.0
  1590    0.0
  1591    0.0
  1592    0.0
  1593    0.0
  Name: sales, dtype: float64,
  'Transformer': MinMaxScaler(),
  'Encoder': OneHotEncoder(drop='first')},
 54: {'model': DecisionTreeRegressor(),
  'score': 1.0,
  'RMSE': 0.0,
  'Predicted': array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]),
  'Real': 1617    0.0
  1618    0.0
  1619    0.0
  1620    0.0
  1621    0.0
  1622    0.0
  1623    0.0
  1624    0.0
  1625    0.0
  1626    0.0
  Name: sales, dtype: float64,
  'Transformer': MinMaxScaler(),
  'Encoder': OneHotEncoder(drop='first')},
 6: {'model': DecisionTreeRegressor(),
  'score': 1.0,
  'RMSE': 0.0,
  'Predicted': array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]),
  'Real': 1650    0.0
  1651    0.0
  1652    0.0
  1653    0.0
  1654    0.0
  1655    0.0
  1656    0.0
  1657    0.0
  1658    0.0
  1659    0.0
  Name: sales, dtype: float64,
  'Transformer': MinMaxScaler(),
  'Encoder': OneHotEncoder(drop='first')},
 7: {'model': DecisionTreeRegressor(),
  'score': 1.0,
  'RMSE': 0.0,
  'Predicted': array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]),
  'Real': 1683    0.0
  1684    0.0
  1685    0.0
  1686    0.0
  1687    0.0
  1688    0.0
  1689    0.0
  1690    0.0
  1691    0.0
  1692    0.0
  Name: sales, dtype: float64,
  'Transformer': MinMaxScaler(),

In [10]:
def make_predict(row):
    store_nbr = row['store_nbr']
    transformer = results[store_nbr]['Transformer']
    encoder = results[store_nbr]['Encoder']
    model = results[store_nbr]['model']
    row = pd.DataFrame(row).T
    row=row.astype({'onpromotion':int,'population':int, 'oil_price': float, 'transactions': float})

    # Numerical-Categorical Split
    model_train_num = row.select_dtypes(include = np.number)
    model_train_cat = row.select_dtypes(object)
    
    # Scaling numerical data
    model_train_scaled1 = pd.DataFrame(transformer.transform(model_train_num),columns=model_train_num.columns)

    # Encoding categorical data
    column_names = encoder.get_feature_names_out(model_train_cat.columns)
    model_train_encoded = encoder.transform(model_train_cat).toarray()
    encoded = pd.DataFrame(model_train_encoded, columns =column_names)

    # Concatenate data
    model_train_scaled = pd.concat([model_train_scaled1,encoded],axis=1)
    sales = model.predict(model_train_scaled)
    
    return sales[0]

In [11]:
predictions = model_test.apply(make_predict, axis=1)

In [12]:
predictions = pd.DataFrame(predictions).reset_index()

In [13]:
sample_submission1 = pd.concat ([sample_submission,predictions], axis=1)

            id  sales  index         0
0      3000888    0.0      0     4.000
1      3000889    0.0      1     0.000
2      3000890    0.0      2     8.000
3      3000891    0.0      3  2367.000
4      3000892    0.0      4     0.000
...        ...    ...    ...       ...
28507  3029395    0.0  28507   243.917
28508  3029396    0.0  28508     0.000
28509  3029397    0.0  28509  1017.927
28510  3029398    0.0  28510    22.000
28511  3029399    0.0  28511     7.000

[28512 rows x 4 columns]

In [15]:
sample_submission1=sample_submission1.drop(['sales','index'], axis=1)

In [16]:
sample_submission1 = sample_submission1.rename(columns={0: 'sales'})

In [17]:
sample_submission1.loc[sample_submission1['sales'] < 0, 'sales'] = 0

In [18]:
sample_submission1.to_csv("sample_submission1.csv", index=False)

In [19]:
sample_submission1

            id     sales
0      3000888     4.000
1      3000889     0.000
2      3000890     8.000
3      3000891  2367.000
4      3000892     0.000
...        ...       ...
28507  3029395   243.917
28508  3029396     0.000
28509  3029397  1017.927
28510  3029398    22.000
28511  3029399     7.000

[28512 rows x 2 columns]