In [1]:
# BASE
# ------------------------------------------------------
import pandas as pd  
import numpy as np

In [2]:
model_train = pd.read_csv('model_train.csv')
model_test = pd.read_csv('model_test.csv')
sample_submission = pd.read_csv('sample_submission.csv')

In [3]:
dtype_dict = {'store_nbr': object, 'cluster': object, 'month': object, 'day_of_month': object, 'day_of_year': object, 'week_of_year': object, 'day_of_week': object, 'year': object, 'is_wknd': object, }
model_train = model_train.astype(dtype_dict)
model_test = model_test.astype(dtype_dict)

In [4]:
model_test.isna().sum()

store_nbr       0
family          0
onpromotion     0
city            0
state           0
shop_type       0
cluster         0
oil_price       0
transactions    0
holiday_type    0
population      0
month           0
day_of_month    0
day_of_year     0
week_of_year    0
day_of_week     0
year            0
is_wknd         0
dtype: int64

# Prepare for modeling

In [5]:
def preparing_data_to_model(data, random_state=None):   
    from sklearn.preprocessing import MinMaxScaler
    from sklearn.preprocessing import OneHotEncoder
    # Split data
    target_col = 'sales'
    X = data.drop(target_col, axis=1)
    y = data[target_col]
    
    # Numerical-Categorical Split
    model_train_num = X.select_dtypes(include = np.number)
    model_train_cat = X.select_dtypes(object)
    
    # Scaling numerical data
    transformer = MinMaxScaler().fit(model_train_num)
    model_train_scaled1 = pd.DataFrame(transformer.transform(model_train_num),columns=model_train_num.columns)

    # Encoding categorical data
    encoder = OneHotEncoder(drop='first').fit(model_train_cat)
    column_names = encoder.get_feature_names_out(model_train_cat.columns)
    model_train_encoded = encoder.transform(model_train_cat).toarray()
    encoded = pd.DataFrame(model_train_encoded, columns =column_names)

    # Concatenate data
    model_train_scaled = pd.concat([model_train_scaled1,encoded],axis=1)
    
    print(model_train_scaled.shape, y.shape, transformer, encoder)
    
    return model_train_scaled, y, transformer, encoder

In [6]:
#Fit a logistic regression model on the training data.
from sklearn import linear_model
from sklearn.metrics import mean_squared_error
lm = linear_model.LinearRegression()

In [7]:
def store_regression(data):
    # Split the data by store_id
    store_data = {}
    for store_id in data['store_nbr'].unique():
        store_data[store_id] = data[data['store_nbr'] == store_id]
    
    # Perform linear regression for each store
    regression_results = {}
    for store_id, store_df in store_data.items():
        X = store_df.drop('sales', axis=1)
        y = store_df['sales']
        
        # Prepare the data for modeling
        X_scaled, y, transformer, encoder = preparing_data_to_model(pd.concat([X, y], axis=1))
        
        # Fit the model
        model = linear_model.LinearRegression()
        model.fit(X_scaled, y)
        
        # Calculate RMSE 
        model_pred = model.predict(X_scaled)
        model_rmse = np.sqrt(mean_squared_error(y, model_pred))
        
        # Store the regression results
        regression_results[store_id] = {'model':model,
            'score': model.score(X_scaled, y),
            'RMSE': model_rmse,
            'Predicted':np.round(model_pred[:10],decimals = 1),
            'Real': y[:10],
            'Transformer':transformer,
            'Encoder':encoder                          
        }
    
    return regression_results

In [8]:
results = store_regression(model_train)

(55572, 510) (55572,) MinMaxScaler() OneHotEncoder(drop='first')
(55572, 510) (55572,) MinMaxScaler() OneHotEncoder(drop='first')
(55572, 510) (55572,) MinMaxScaler() OneHotEncoder(drop='first')
(55572, 510) (55572,) MinMaxScaler() OneHotEncoder(drop='first')
(55572, 510) (55572,) MinMaxScaler() OneHotEncoder(drop='first')
(55572, 510) (55572,) MinMaxScaler() OneHotEncoder(drop='first')
(55572, 510) (55572,) MinMaxScaler() OneHotEncoder(drop='first')
(55572, 510) (55572,) MinMaxScaler() OneHotEncoder(drop='first')
(55572, 510) (55572,) MinMaxScaler() OneHotEncoder(drop='first')
(55572, 510) (55572,) MinMaxScaler() OneHotEncoder(drop='first')
(55572, 510) (55572,) MinMaxScaler() OneHotEncoder(drop='first')
(55572, 510) (55572,) MinMaxScaler() OneHotEncoder(drop='first')
(55572, 510) (55572,) MinMaxScaler() OneHotEncoder(drop='first')
(55572, 510) (55572,) MinMaxScaler() OneHotEncoder(drop='first')
(55572, 510) (55572,) MinMaxScaler() OneHotEncoder(drop='first')
(55572, 510) (55572,) MinMaxScaler() OneHotEncoder(drop='first')
(55572, 510) (55572,) MinMaxScaler() OneHotEncoder(drop='first')
(55572, 510) (55572,) MinMaxScaler() OneHotEncoder(drop='first')
(55572, 510) (55572,) MinMaxScaler() OneHotEncoder(drop='first')
(55572, 510) (55572,) MinMaxScaler() OneHotEncoder(drop='first')
(55572, 510) (55572,) MinMaxScaler() OneHotEncoder(drop='first')
(55572, 510) (55572,) MinMaxScaler() OneHotEncoder(drop='first')
(55572, 510) (55572,) MinMaxScaler() OneHotEncoder(drop='first')
(55572, 510) (55572,) MinMaxScaler() OneHotEncoder(drop='first')
(55572, 510) (55572,) MinMaxScaler() OneHotEncoder(drop='first')
(55572, 510) (55572,) MinMaxScaler() OneHotEncoder(drop='first')
(55572, 510) (55572,) MinMaxScaler() OneHotEncoder(drop='first')
(55572, 510) (55572,) MinMaxScaler() OneHotEncoder(drop='first')
(55572, 510) (55572,) MinMaxScaler() OneHotEncoder(drop='first')
(55572, 510) (55572,) MinMaxScaler() OneHotEncoder(drop='first')
(55572, 510) (55572,) MinMaxScaler() OneHotEncoder(drop='first')
(55572, 510) (55572,) MinMaxScaler() OneHotEncoder(drop='first')
(55572, 510) (55572,) MinMaxScaler() OneHotEncoder(drop='first')
(55572, 510) (55572,) MinMaxScaler() OneHotEncoder(drop='first')
(55572, 510) (55572,) MinMaxScaler() OneHotEncoder(drop='first')
(55572, 510) (55572,) MinMaxScaler() OneHotEncoder(drop='first')
(55572, 510) (55572,) MinMaxScaler() OneHotEncoder(drop='first')
(55572, 510) (55572,) MinMaxScaler() OneHotEncoder(drop='first')
(55572, 510) (55572,) MinMaxScaler() OneHotEncoder(drop='first')
(55572, 510) (55572,) MinMaxScaler() OneHotEncoder(drop='first')
(55572, 510) (55572,) MinMaxScaler() OneHotEncoder(drop='first')
(55572, 510) (55572,) MinMaxScaler() OneHotEncoder(drop='first')
(55572, 510) (55572,) MinMaxScaler() OneHotEncoder(drop='first')
(55572, 510) (55572,) MinMaxScaler() OneHotEncoder(drop='first')
(55572, 510) (55572,) MinMaxScaler() OneHotEncoder(drop='first')
(55572, 510) (55572,) MinMaxScaler() OneHotEncoder(drop='first')
(55572, 510) (55572,) MinMaxScaler() OneHotEncoder(drop='first')
(55572, 510) (55572,) MinMaxScaler() OneHotEncoder(drop='first')
(55572, 510) (55572,) MinMaxScaler() OneHotEncoder(drop='first')
(55572, 510) (55572,) MinMaxScaler() OneHotEncoder(drop='first')
(55572, 510) (55572,) MinMaxScaler() OneHotEncoder(drop='first')
(55572, 510) (55572,) MinMaxScaler() OneHotEncoder(drop='first')
(55572, 510) (55572,) MinMaxScaler() OneHotEncoder(drop='first')
(55572, 510) (55572,) MinMaxScaler() OneHotEncoder(drop='first')

In [9]:
results

{1: {'model': LinearRegression(),
  'score': 0.8150934404039293,
  'RMSE': 256.63791591017076,
  'Predicted': array([-283.6, -283.5, -276.6, 1175.4, -290.9,   34. , -278.9,  283.9,
          267.9, -233.9]),
  'Real': 0    0.0
  1    0.0
  2    0.0
  3    0.0
  4    0.0
  5    0.0
  6    0.0
  7    0.0
  8    0.0
  9    0.0
  Name: sales, dtype: float64,
  'Transformer': MinMaxScaler(),
  'Encoder': OneHotEncoder(drop='first')},
 10: {'model': LinearRegression(),
  'score': 0.9058776255156276,
  'RMSE': 146.4233840550097,
  'Predicted': array([-214. , -213.2, -218.8,  646.1, -216.7, -118.5, -215.5,  529.8,
            2.3,    6.3]),
  'Real': 33    0.0
  34    0.0
  35    0.0
  36    0.0
  37    0.0
  38    0.0
  39    0.0
  40    0.0
  41    0.0
  42    0.0
  Name: sales, dtype: float64,
  'Transformer': MinMaxScaler(),
  'Encoder': OneHotEncoder(drop='first')},
 11: {'model': LinearRegression(),
  'score': 0.9019403879852435,
  'RMSE': 425.95375979087055,
  'Predicted': array([-600.2, -649.4, -603.6, 2898.6, -614.8,  -75.3, -631.7, 1186.3,
         -209.2, -268.7]),
  'Real': 66    0.0
  67    0.0
  68    0.0
  69    0.0
  70    0.0
  71    0.0
  72    0.0
  73    0.0
  74    0.0
  75    0.0
  Name: sales, dtype: float64,
  'Transformer': MinMaxScaler(),
  'Encoder': OneHotEncoder(drop='first')},
 12: {'model': LinearRegression(),
  'score': 0.874713807893005,
  'RMSE': 184.59565342845227,
  'Predicted': array([-245.7, -250.6, -248.3, 1000.4, -249.9,  -89.9, -241.9,  485.1,
           31. ,  -87.5]),
  'Real': 99     0.0
  100    0.0
  101    0.0
  102    0.0
  103    0.0
  104    0.0
  105    0.0
  106    0.0
  107    0.0
  108    0.0
  Name: sales, dtype: float64,
  'Transformer': MinMaxScaler(),
  'Encoder': OneHotEncoder(drop='first')},
 13: {'model': LinearRegression(),
  'score': 0.8772212096765937,
  'RMSE': 193.26208135955727,
  'Predicted': array([-259. , -274. , -276.5,  980.2, -277.3, -121.8, -275.3,  480.5,
          -27.2, -126.3]),
  'Real': 132    0.0
  133    0.0
  134    0.0
  135    0.0
  136    0.0
  137    0.0
  138    0.0
  139    0.0
  140    0.0
  141    0.0
  Name: sales, dtype: float64,
  'Transformer': MinMaxScaler(),
  'Encoder': OneHotEncoder(drop='first')},
 14: {'model': LinearRegression(),
  'score': 0.8747666021134229,
  'RMSE': 191.33189561897188,
  'Predicted': array([-275.2, -279.4, -278. ,  645.6, -278.6, -110. , -274.9,  772.9,
           22.9,  -90. ]),
  'Real': 165    0.0
  166    0.0
  167    0.0
  168    0.0
  169    0.0
  170    0.0
  171    0.0
  172    0.0
  173    0.0
  174    0.0
  Name: sales, dtype: float64,
  'Transformer': MinMaxScaler(),
  'Encoder': OneHotEncoder(drop='first')},
 15: {'model': LinearRegression(),
  'score': 0.9130251604999796,
  'RMSE': 160.11672661052373,
  'Predicted': array([-250.7, -252.3, -250.5,  941.1, -253. , -114.9, -250.5,  586.4,
            7.4,  -14.1]),
  'Real': 198    0.0
  199    0.0
  200    0.0
  201    0.0
  202    0.0
  203    0.0
  204    0.0
  205    0.0
  206    0.0
  207    0.0
  Name: sales, dtype: float64,
  'Transformer': MinMaxScaler(),
  'Encoder': OneHotEncoder(drop='first')},
 16: {'model': LinearRegression(),
  'score': 0.8575901235632036,
  'RMSE': 199.76804815175527,
  'Predicted': array([-277. , -282.5, -281.7,  795.2, -282.7,  -84.2, -279.1,  713.4,
          -44.6,  -73.3]),
  'Real': 231    0.0
  232    0.0
  233    0.0
  234    0.0
  235    0.0
  236    0.0
  237    0.0
  238    0.0
  239    0.0
  240    0.0
  Name: sales, dtype: float64,
  'Transformer': MinMaxScaler(),
  'Encoder': OneHotEncoder(drop='first')},
 17: {'model': LinearRegression(),
  'score': 0.8573949676855774,
  'RMSE': 321.9028835686865,
  'Predicted': array([-419.2, -425.6, -424. , 1870.3, -424.2, -236.3, -419.8,  550.5,
          -16.3,  -93.4]),
  'Real': 264    0.0
  265    0.0
  266    0.0
  267    0.0
  268    0.0
  269    0.0
  270    0.0
  271    0.0
  272    0.0
  273    0.0
  Name: sales, dtype: float64,
  'Transformer': MinMaxScaler(),
  'Encoder': OneHotEncoder(drop='first')},
 18: {'model': LinearRegression(),
  'score': 0.7604627102482463,
  'RMSE': 302.5231546217113,
  'Predicted': array([-303.9, -309.5, -302.6, 1265.2, -307.4,  289.4, -297.9,  239.2,
           56.9, -168.8]),
  'Real': 297    0.0
  298    0.0
  299    0.0
  300    0.0
  301    0.0
  302    0.0
  303    0.0
  304    0.0
  305    0.0
  306    0.0
  Name: sales, dtype: float64,
  'Transformer': MinMaxScaler(),
  'Encoder': OneHotEncoder(drop='first')},
 19: {'model': LinearRegression(),
  'score': 0.8763602922987659,
  'RMSE': 232.85297438341905,
  'Predicted': array([-311.1, -317.6, -317. , 1587.2, -317.6, -166.7, -312.4,  559.7,
          -86.1,  -90.8]),
  'Real': 330    0.0
  331    0.0
  332    0.0
  333    0.0
  334    0.0
  335    0.0
  336    0.0
  337    0.0
  338    0.0
  339    0.0
  Name: sales, dtype: float64,
  'Transformer': MinMaxScaler(),
  'Encoder': OneHotEncoder(drop='first')},
 2: {'model': LinearRegression(),
  'score': 0.6028205400609938,
  'RMSE': 680.3563846532376,
  'Predicted': array([-500. , -515.6, -510.4, 1828.9, -509.9,   25.8, -497. ,  381.7,
          270.4, -346.3]),
  'Real': 363    0.0
  364    0.0
  365    0.0
  366    0.0
  367    0.0
  368    0.0
  369    0.0
  370    0.0
  371    0.0
  372    0.0
  Name: sales, dtype: float64,
  'Transformer': MinMaxScaler(),
  'Encoder': OneHotEncoder(drop='first')},
 20: {'model': LinearRegression(),
  'score': 0.4652173016293155,
  'RMSE': 706.5323037462967,
  'Predicted': array([-169. , -179.9, -181.3, 1239.2, -180.6,  -74. , -171.9,  341.8,
          -38. ,  -10. ]),
  'Real': 396    0.0
  397    0.0
  398    0.0
  399    0.0
  400    0.0
  401    0.0
  402    0.0
  403    0.0
  404    0.0
  405    0.0
  Name: sales, dtype: float64,
  'Transformer': MinMaxScaler(),
  'Encoder': OneHotEncoder(drop='first')},
 21: {'model': LinearRegression(),
  'score': 0.5548121019698162,
  'RMSE': 434.54964523952555,
  'Predicted': array([-111. , -120.5, -119.8,  847. , -122.1,  -28.6, -120.5,  274.8,
         -107.5,  -84.2]),
  'Real': 429    0.0
  430    0.0
  431    0.0
  432    0.0
  433    0.0
  434    0.0
  435    0.0
  436    0.0
  437    0.0
  438    0.0
  Name: sales, dtype: float64,
  'Transformer': MinMaxScaler(),
  'Encoder': OneHotEncoder(drop='first')},
 22: {'model': LinearRegression(),
  'score': 0.5768758429305527,
  'RMSE': 205.6963990001135,
  'Predicted': array([-41.8, -43.1, -45. , 355.5, -43.2, -48.8, -40.3, 102.6, -57.8,
         -44.5]),
  'Real': 462    0.0
  463    0.0
  464    0.0
  465    0.0
  466    0.0
  467    0.0
  468    0.0
  469    0.0
  470    0.0
  471    0.0
  Name: sales, dtype: float64,
  'Transformer': MinMaxScaler(),
  'Encoder': OneHotEncoder(drop='first')},
 23: {'model': LinearRegression(),
  'score': 0.8507272779786539,
  'RMSE': 176.72747353993876,
  'Predicted': array([-248.1, -250.4, -249.5,  875.9, -250.3,   14.7, -242.2,  291.5,
          189.3, -147.3]),
  'Real': 495    0.0
  496    0.0
  497    0.0
  498    0.0
  499    0.0
  500    0.0
  501    0.0
  502    0.0
  503    0.0
  504    0.0
  Name: sales, dtype: float64,
  'Transformer': MinMaxScaler(),
  'Encoder': OneHotEncoder(drop='first')},
 24: {'model': LinearRegression(),
  'score': 0.7922165196862124,
  'RMSE': 464.4479442533017,
  'Predicted': array([-480.3, -486.8, -485.1, 2149. , -480.2,  173.1, -475.9,  510.2,
          472.7, -357.4]),
  'Real': 528    0.0
  529    0.0
  530    0.0
  531    0.0
  532    0.0
  533    0.0
  534    0.0
  535    0.0
  536    0.0
  537    0.0
  Name: sales, dtype: float64,
  'Transformer': MinMaxScaler(),
  'Encoder': OneHotEncoder(drop='first')},
 25: {'model': LinearRegression(),
  'score': 0.6658914202714245,
  'RMSE': 324.36005992355666,
  'Predicted': array([ -71.4,  -72.7,  -73. , 1590.5,  -73.7,  197.5,  -70.4,  345.4,
          341.2,   -2.3]),
  'Real': 561      0.000
  562      0.000
  563      2.000
  564    810.000
  565      0.000
  566    180.589
  567      0.000
  568    186.000
  569    143.000
  570     71.090
  Name: sales, dtype: float64,
  'Transformer': MinMaxScaler(),
  'Encoder': OneHotEncoder(drop='first')},
 26: {'model': LinearRegression(),
  'score': 0.5745990493230481,
  'RMSE': 274.1753969656912,
  'Predicted': array([-178.5, -182.6, -181.2,  557.1, -183. ,   32.9, -178.6,  223. ,
           30.3, -119.3]),
  'Real': 594    0.0
  595    0.0
  596    0.0
  597    0.0
  598    0.0
  599    0.0
  600    0.0
  601    0.0
  602    0.0
  603    0.0
  Name: sales, dtype: float64,
  'Transformer': MinMaxScaler(),
  'Encoder': OneHotEncoder(drop='first')},
 27: {'model': LinearRegression(),
  'score': 0.8232869237295973,
  'RMSE': 342.44427502413765,
  'Predicted': array([-391.1, -395.7, -393.8, 1863.7, -395.7,  178.7, -387.5,  311.4,
          317.1, -231.3]),
  'Real': 627    0.0
  628    0.0
  629    0.0
  630    0.0
  631    0.0
  632    0.0
  633    0.0
  634    0.0
  635    0.0
  636    0.0
  Name: sales, dtype: float64,
  'Transformer': MinMaxScaler(),
  'Encoder': OneHotEncoder(drop='first')},
 28: {'model': LinearRegression(),
  'score': 0.8088452150980774,
  'RMSE': 372.5072465718446,
  'Predicted': array([-365. , -380.8, -385.6, 1727.6, -377.3,   94.9, -369. ,  538.2,
          104. , -144. ]),
  'Real': 660    0.0
  661    0.0
  662    0.0
  663    0.0
  664    0.0
  665    0.0
  666    0.0
  667    0.0
  668    0.0
  669    0.0
  Name: sales, dtype: float64,
  'Transformer': MinMaxScaler(),
  'Encoder': OneHotEncoder(drop='first')},
 29: {'model': LinearRegression(),
  'score': 0.6126907519069092,
  'RMSE': 378.2255553958015,
  'Predicted': array([-105.5, -108.4, -109.6, 1009.4, -108.6,   58.6, -104. ,  239.6,
            6. ,  -77.1]),
  'Real': 693    0.0
  694    0.0
  695    0.0
  696    0.0
  697    0.0
  698    0.0
  699    0.0
  700    0.0
  701    0.0
  702    0.0
  Name: sales, dtype: float64,
  'Transformer': MinMaxScaler(),
  'Encoder': OneHotEncoder(drop='first')},
 3: {'model': LinearRegression(),
  'score': 0.8168963358049783,
  'RMSE': 918.3574890735571,
  'Predicted': array([-1158.7, -1167.5, -1164.3,  5212.9, -1167.6,   -80. , -1142.7,
           669.8,   675.9,  -997.6]),
  'Real': 726    0.0
  727    0.0
  728    0.0
  729    0.0
  730    0.0
  731    0.0
  732    0.0
  733    0.0
  734    0.0
  735    0.0
  Name: sales, dtype: float64,
  'Transformer': MinMaxScaler(),
  'Encoder': OneHotEncoder(drop='first')},
 30: {'model': LinearRegression(),
  'score': 0.8283421602688092,
  'RMSE': 144.00673610524538,
  'Predicted': array([-138.8, -145.8, -167.8,  736.8, -120.4,   24.4, -141.6,  310. ,
           31.5,  -72.1]),
  'Real': 759    0.0
  760    0.0
  761    0.0
  762    0.0
  763    0.0
  764    0.0
  765    0.0
  766    0.0
  767    0.0
  768    0.0
  Name: sales, dtype: float64,
  'Transformer': MinMaxScaler(),
  'Encoder': OneHotEncoder(drop='first')},
 31: {'model': LinearRegression(),
  'score': 0.8385989422580575,
  'RMSE': 335.2758744832502,
  'Predicted': array([-3.9800e+02, -4.0570e+02, -4.0540e+02,  1.3094e+03, -4.0310e+02,
          7.0000e-01, -4.0230e+02,  7.6860e+02,  7.2200e+01, -2.1820e+02]),
  'Real': 792    0.0
  793    0.0
  794    0.0
  795    0.0
  796    0.0
  797    0.0
  798    0.0
  799    0.0
  800    0.0
  801    0.0
  Name: sales, dtype: float64,
  'Transformer': MinMaxScaler(),
  'Encoder': OneHotEncoder(drop='first')},
 32: {'model': LinearRegression(),
  'score': 0.6935496224644905,
  'RMSE': 184.89633981750666,
  'Predicted': array([-144. , -146.1, -145.9,  408.9, -145.8,  -72.3, -143.7,  269. ,
          -49.6,  -73.4]),
  'Real': 825    0.0
  826    0.0
  827    0.0
  828    0.0
  829    0.0
  830    0.0
  831    0.0
  832    0.0
  833    0.0
  834    0.0
  Name: sales, dtype: float64,
  'Transformer': MinMaxScaler(),
  'Encoder': OneHotEncoder(drop='first')},
 33: {'model': LinearRegression(),
  'score': 0.8573073064018308,
  'RMSE': 242.606965162264,
  'Predicted': array([-345.4, -352.7, -352.6,  952.7, -352.7, -105.1, -348.2,  669.9,
          -22.1, -190.1]),
  'Real': 858    0.0
  859    0.0
  860    0.0
  861    0.0
  862    0.0
  863    0.0
  864    0.0
  865    0.0
  866    0.0
  867    0.0
  Name: sales, dtype: float64,
  'Transformer': MinMaxScaler(),
  'Encoder': OneHotEncoder(drop='first')},
 34: {'model': LinearRegression(),
  'score': 0.9048688362789156,
  'RMSE': 244.1513472968514,
  'Predicted': array([-392.1, -396. , -393.9, 1800.1, -395.2,  255.9, -389.1,  482.1,
          116.4, -178.9]),
  'Real': 891    0.0
  892    0.0
  893    0.0
  894    0.0
  895    0.0
  896    0.0
  897    0.0
  898    0.0
  899    0.0
  900    0.0
  Name: sales, dtype: float64,
  'Transformer': MinMaxScaler(),
  'Encoder': OneHotEncoder(drop='first')},
 35: {'model': LinearRegression(),
  'score': 0.5732925631219945,
  'RMSE': 307.0841481178717,
  'Predicted': array([-178.2, -182.3, -182.3,  886. , -182.4, -107.7, -181. ,  254.8,
          -59.9, -119.9]),
  'Real': 924    0.0
  925    0.0
  926    0.0
  927    0.0
  928    0.0
  929    0.0
  930    0.0
  931    0.0
  932    0.0
  933    0.0
  Name: sales, dtype: float64,
  'Transformer': MinMaxScaler(),
  'Encoder': OneHotEncoder(drop='first')},
 36: {'model': LinearRegression(),
  'score': 0.8122216307575814,
  'RMSE': 320.50158701013083,
  'Predicted': array([-296.4, -299.7, -299.6, 1549.1, -299.5,   77.1, -294.9,  421.6,
           60. , -182.5]),
  'Real': 957    0.0
  958    0.0
  959    0.0
  960    0.0
  961    0.0
  962    0.0
  963    0.0
  964    0.0
  965    0.0
  966    0.0
  Name: sales, dtype: float64,
  'Transformer': MinMaxScaler(),
  'Encoder': OneHotEncoder(drop='first')},
 37: {'model': LinearRegression(),
  'score': 0.8561748641898081,
  'RMSE': 320.1542558495527,
  'Predicted': array([-408.6, -412.4, -410.3, 1545. , -412.5,  109.5, -405.9,  559.6,
          399.6, -336.1]),
  'Real': 990    0.0
  991    0.0
  992    0.0
  993    0.0
  994    0.0
  995    0.0
  996    0.0
  997    0.0
  998    0.0
  999    0.0
  Name: sales, dtype: float64,
  'Transformer': MinMaxScaler(),
  'Encoder': OneHotEncoder(drop='first')},
 38: {'model': LinearRegression(),
  'score': 0.819717417441071,
  'RMSE': 356.01619961684116,
  'Predicted': array([-426.1, -446.2, -452.9, 1264. , -455.9,   60.4, -439.1,  548.2,
          301.9, -344.6]),
  'Real': 1023    0.0
  1024    0.0
  1025    0.0
  1026    0.0
  1027    0.0
  1028    0.0
  1029    0.0
  1030    0.0
  1031    0.0
  1032    0.0
  Name: sales, dtype: float64,
  'Transformer': MinMaxScaler(),
  'Encoder': OneHotEncoder(drop='first')},
 39: {'model': LinearRegression(),
  'score': 0.7235553402270412,
  'RMSE': 530.9811998982551,
  'Predicted': array([-453. , -460.3, -458.8, 1691.6, -460.5,  171. , -454.1,  735.4,
          -97.6, -357.5]),
  'Real': 1056    0.0
  1057    0.0
  1058    0.0
  1059    0.0
  1060    0.0
  1061    0.0
  1062    0.0
  1063    0.0
  1064    0.0
  1065    0.0
  Name: sales, dtype: float64,
  'Transformer': MinMaxScaler(),
  'Encoder': OneHotEncoder(drop='first')},
 4: {'model': LinearRegression(),
  'score': 0.8326042315956907,
  'RMSE': 327.77086974529226,
  'Predicted': array([-437.1, -441.1, -438.5, 1615.2, -440.7,  -57.3, -435.1,  369.5,
          279.8, -298.4]),
  'Real': 1089    0.0
  1090    0.0
  1091    0.0
  1092    0.0
  1093    0.0
  1094    0.0
  1095    0.0
  1096    0.0
  1097    0.0
  1098    0.0
  Name: sales, dtype: float64,
  'Transformer': MinMaxScaler(),
  'Encoder': OneHotEncoder(drop='first')},
 40: {'model': LinearRegression(),
  'score': 0.865802180766633,
  'RMSE': 339.09448603279947,
  'Predicted': array([-382.3, -381.6, -385. , 1784.8, -384.9,  -95.6, -382.8,  874.9,
          -78.8, -238.2]),
  'Real': 1122    0.0
  1123    0.0
  1124    0.0
  1125    0.0
  1126    0.0
  1127    0.0
  1128    0.0
  1129    0.0
  1130    0.0
  1131    0.0
  Name: sales, dtype: float64,
  'Transformer': MinMaxScaler(),
  'Encoder': OneHotEncoder(drop='first')},
 41: {'model': LinearRegression(),
  'score': 0.8180091400394109,
  'RMSE': 285.01840252993856,
  'Predicted': array([-322.9, -327. , -326.6, 1072.9, -328.5,   67.2, -322.4,  455.1,
          160.3, -209. ]),
  'Real': 1155    0.0
  1156    0.0
  1157    0.0
  1158    0.0
  1159    0.0
  1160    0.0
  1161    0.0
  1162    0.0
  1163    0.0
  1164    0.0
  Name: sales, dtype: float64,
  'Transformer': MinMaxScaler(),
  'Encoder': OneHotEncoder(drop='first')},
 42: {'model': LinearRegression(),
  'score': 0.6015621553735886,
  'RMSE': 368.32461403077366,
  'Predicted': array([ -80.5, -102.5,  -92.3,  805.2,  -92.1,   90.2,  -83.2,  144.3,
          151.2, -113.7]),
  'Real': 1188    0.0
  1189    0.0
  1190    0.0
  1191    0.0
  1192    0.0
  1193    0.0
  1194    0.0
  1195    0.0
  1196    0.0
  1197    0.0
  Name: sales, dtype: float64,
  'Transformer': MinMaxScaler(),
  'Encoder': OneHotEncoder(drop='first')},
 43: {'model': LinearRegression(),
  'score': 0.8787442829721128,
  'RMSE': 283.61498208638005,
  'Predicted': array([-354.6, -360.8, -360.5, 2520.7, -360.8, -117.2, -355.8,  572. ,
         -112.5, -201.9]),
  'Real': 1221    0.0
  1222    0.0
  1223    0.0
  1224    0.0
  1225    0.0
  1226    0.0
  1227    0.0
  1228    0.0
  1229    0.0
  1230    0.0
  Name: sales, dtype: float64,
  'Transformer': MinMaxScaler(),
  'Encoder': OneHotEncoder(drop='first')},
 44: {'model': LinearRegression(),
  'score': 0.7913404555595868,
  'RMSE': 1226.6063004205212,
  'Predicted': array([-1335.8, -1348.8, -1344.6,  6172.7, -1346.4,   -39.1, -1329.2,
           926.5,   954.4, -1027.4]),
  'Real': 1254    0.0
  1255    0.0
  1256    0.0
  1257    0.0
  1258    0.0
  1259    0.0
  1260    0.0
  1261    0.0
  1262    0.0
  1263    0.0
  Name: sales, dtype: float64,
  'Transformer': MinMaxScaler(),
  'Encoder': OneHotEncoder(drop='first')},
 45: {'model': LinearRegression(),
  'score': 0.8035824217828859,
  'RMSE': 1056.6984445980524,
  'Predicted': array([-1269.7, -1276.8, -1276.1,  5090.6, -1276.7,  -207.4, -1259.5,
           982.3,   626.9,  -863.9]),
  'Real': 1287    0.0
  1288    0.0
  1289    0.0
  1290    0.0
  1291    0.0
  1292    0.0
  1293    0.0
  1294    0.0
  1295    0.0
  1296    0.0
  Name: sales, dtype: float64,
  'Transformer': MinMaxScaler(),
  'Encoder': OneHotEncoder(drop='first')},
 46: {'model': LinearRegression(),
  'score': 0.8148968788415808,
  'RMSE': 812.7142797842257,
  'Predicted': array([ -973.2, -1001.2,  -998.2,  3481. ,  -987.7,  -264.5,  -997.6,
          1152.7,   308.9,  -372.8]),
  'Real': 1320    0.0
  1321    0.0
  1322    0.0
  1323    0.0
  1324    0.0
  1325    0.0
  1326    0.0
  1327    0.0
  1328    0.0
  1329    0.0
  Name: sales, dtype: float64,
  'Transformer': MinMaxScaler(),
  'Encoder': OneHotEncoder(drop='first')},
 47: {'model': LinearRegression(),
  'score': 0.8221989021965216,
  'RMSE': 937.0640589444415,
  'Predicted': array([ -968.4, -1071. , -1005.3,  4931.2, -1052.8,   -35.9, -1018.4,
          1046.1,   783.6,  -633.9]),
  'Real': 1353    0.0
  1354    0.0
  1355    0.0
  1356    0.0
  1357    0.0
  1358    0.0
  1359    0.0
  1360    0.0
  1361    0.0
  1362    0.0
  Name: sales, dtype: float64,
  'Transformer': MinMaxScaler(),
  'Encoder': OneHotEncoder(drop='first')},
 48: {'model': LinearRegression(),
  'score': 0.8019035431938513,
  'RMSE': 742.6070923431771,
  'Predicted': array([-808.7, -842.8, -837.1, 2732.7, -821.7, -166.6, -824.6, 1184.9,
          255.4, -295.1]),
  'Real': 1386    0.0
  1387    0.0
  1388    0.0
  1389    0.0
  1390    0.0
  1391    0.0
  1392    0.0
  1393    0.0
  1394    0.0
  1395    0.0
  Name: sales, dtype: float64,
  'Transformer': MinMaxScaler(),
  'Encoder': OneHotEncoder(drop='first')},
 49: {'model': LinearRegression(),
  'score': 0.7945579083477313,
  'RMSE': 860.2118552491589,
  'Predicted': array([-898.2, -921.7, -910.3, 4167.7, -901.1,   63.4, -900.2,  522.8,
          772.9, -790.5]),
  'Real': 1419    0.0
  1420    0.0
  1421    0.0
  1422    0.0
  1423    0.0

In [10]:
def make_predict(row):
    store_nbr = row['store_nbr']
    transformer = results[store_nbr]['Transformer']
    encoder = results[store_nbr]['Encoder']
    model = results[store_nbr]['model']
    row = pd.DataFrame(row).T
    row=row.astype({'onpromotion':int,'population':int, 'oil_price': float, 'transactions': float})

    # Numerical-Categorical Split
    model_train_num = row.select_dtypes(include = np.number)
    model_train_cat = row.select_dtypes(object)
    
    # Scaling numerical data
    model_train_scaled1 = pd.DataFrame(transformer.transform(model_train_num),columns=model_train_num.columns)

    # Encoding categorical data
    column_names = encoder.get_feature_names_out(model_train_cat.columns)
    model_train_encoded = encoder.transform(model_train_cat).toarray()
    encoded = pd.DataFrame(model_train_encoded, columns =column_names)

    # Concatenate data
    model_train_scaled = pd.concat([model_train_scaled1,encoded],axis=1)
    sales = model.predict(model_train_scaled)
    
    return sales[0]

In [11]:
predictions = model_test.apply(make_predict, axis=1)

In [12]:
predictions = pd.DataFrame(predictions).reset_index()

In [13]:
sample_submission1 = pd.concat ([sample_submission,predictions], axis=1)

In [15]:
sample_submission1

            id  sales  index            0
0      3000888    0.0      0  -140.152611
1      3000889    0.0      1  -140.027611
2      3000890    0.0      2  -108.715111
3      3000891    0.0      3  1562.909889
4      3000892    0.0      4  -147.402611
...        ...    ...    ...          ...
28507  3029395    0.0  28507   155.487196
28508  3029396    0.0  28508  -235.823463
28509  3029397    0.0  28509   535.612196
28510  3029398    0.0  28510  -216.308778
28511  3029399    0.0  28511  -302.616432

[28512 rows x 4 columns]

In [16]:
sample_submission1=sample_submission1.drop(['sales','index'], axis=1)

In [17]:
sample_submission1 = sample_submission1.rename(columns={0: 'sales'})

In [18]:
sample_submission1.loc[sample_submission1['sales'] < 0, 'sales'] = 0

In [19]:
sample_submission1.to_csv("sample_submission1.csv", index=False)

In [20]:
sample_submission1

            id        sales
0      3000888     0.000000
1      3000889     0.000000
2      3000890     0.000000
3      3000891  1562.909889
4      3000892     0.000000
...        ...          ...
28507  3029395   155.487196
28508  3029396     0.000000
28509  3029397   535.612196
28510  3029398     0.000000
28511  3029399     0.000000

[28512 rows x 2 columns]